
/* Light Mode */
:root, :root[color-mode="light"] {
  --background:241 241 241;
  --foreground:34 34 34;
  --one:120 232 251;
  --two:57 142 252;
  --three:255 66 66;
  --above-shadow:255 255 255;
  --below-shadow:208 208 208;
  --background-color: rgba(235, 235, 235, 0.433);
  --text-color: #000;
  --color-one: rgb(255, 0, 0);
  --color-one-light: rgba(255, 0, 0, 0.205);
}

/* Dark Mode */
:root[color-mode="dark"] {
  --background:34 34 34;
  --foreground:241 241 241;
  --one:17 17 17;
  --two:0 68 159;
  --three:255 66 66;
  --above-shadow:60 60 60;
  --below-shadow:22 22 22;
  --background-color: rgba(5, 5, 5, 0.818);
  --text-color: rgb(255, 255, 255);
  --color-one: rgb(255, 0, 0);
  --color-one-light: rgba(255, 0, 0, 0.205);
}

html,
body {
  background: rgb(var(--background));
  color:rgb(var(--foreground));
  transition: background .4s;
  padding: 0;
  margin: 0;
  font-family: Heebo,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* border: 1px solid rgb(var(--foreground)) !important; */
}

[data-aos=anim1] {
  transform: translateY(40px) scale(1.031) rotate(3deg);
  opacity: 0;
  transform-origin: top left;
  transition-property: transform, opacity;
}
[data-aos=anim1].aos-animate {
  transform: translateY(0px) rotate(0deg);
  opacity: 1;
}

[data-aos=anim2] {
  transform: translateY(40px) rotate(4deg);
  opacity: 0;
  transform-origin: top left;
  transition-property: transform, opacity;
}
[data-aos=anim2].aos-animate {
  transform: translateY(0px) rotate(0deg);
  opacity: 1;
}


/* Background begin */

#backWrap {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  z-index: 0;
  transform: scale(1);
}
#backWrap div {
  position: absolute;
  border: 0px solid rgb(var(--three));
  border-radius: 0px 0px;
  opacity: 0;
  transform: translate(0px, 0px) scale(3);
}
#backWrap div:nth-child(1) {
  background-color: rgb(var(--three)/40%);
  height: 800px;
  width: 300px;
  animation: back 6s cubic-bezier(1, 0, 0.35, 1.08) 0.41s infinite
    alternate-reverse;
}
#backWrap div:nth-child(2) {
  background-color: rgb(var(--three)/40%);
  height: 800px;
  width: 800px;
  animation: back 4s cubic-bezier(1, 0, 0.35, 1.08) 0.62s infinite
    alternate-reverse;
}
#backWrap div:nth-child(3) {
  background-color: rgb(var(--three)/40%);
  height: 150px;
  width: 350px;
  animation: back 4s cubic-bezier(1, 0, 0.35, 1.08) 0.83s infinite
    alternate-reverse;
}
#backWrap div:nth-child(4) {
  background-color: rgb(var(--three)/40%);
  height: 120px;
  width: 120px;
  animation: back 5s cubic-bezier(1, 0, 0.35, 1.08) 1.1s infinite
    alternate-reverse;
}
#backWrap div:nth-child(5) {
  background-color: rgb(var(--three)/40%);
  height: 50px;
  width: 50px;
  animation: back 1s cubic-bezier(1, 0, 0.35, 1.08) 1.5s infinite
    alternate-reverse;
}
#backWrap div:nth-child(6) {
  background-color: rgb(var(--three)/40%);
  height: 50px;
  width: 140px;
  animation: back 3s cubic-bezier(1, 0, 0.35, 1.08) 1.6s infinite
    alternate-reverse;
}
#backWrap div:nth-child(7) {
  background-color: rgb(var(--three)/40%);
  height: 250px;
  width: 250px;
  animation: back 3s cubic-bezier(1, 0, 0.35, 1.08) 1.3s infinite
    alternate-reverse;
}
@keyframes back {
  0% {
    border-radius: 0px 0px;
    opacity: 0.21;
    transform: translate(30vw, -20vh) scale(1);
  }
  30% {
    border-radius: 10px 10px;
    border: 0px solid rgb(var(--three));
    background-color: rgb(var(--three)/40%);
    opacity: 0.21;
    transform: translate(33vw, -22vh) scale(0.92);
  }
  40% {
    border-radius: 10px 200px;
    opacity: 0.21;
    filter: hue-rotate(-68deg);
    border: 1px solid rgb(var(--three));
    background: transparent;
    transform: translate(30vw, -20vh) scale(1);
  }
  60% {
    border-radius: 10px 10px;
    transform: translate(29vw, -20vh) scale(1);
    background-color: rgb(var(--three)/40%);
    border: 0px solid rgb(var(--three));
    opacity: 0.61;
  }
  70% {
    border-radius: 10px 10px;
    opacity: 0.21;
    transform: translate(30vw, -23vh) scale(0.9);
    filter: hue-rotate(38deg);
  }
  80% {
    border-radius: 200px 100px;
    opacity: 0.21;
    transform: translate(33vw, -20vh) scale(1);
  }
  100% {
    border-radius: 0px 0px;
    opacity: 0;
    transform: translate(30vw, -21vh) scale(1);
  }
}

/* Background end */

@keyframes slider {
  0% {
    width: 0;
  }
  50% {
    width: 70vw;
  }
  70% {
    width: 80vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes navArrive {
  0% {
    transform: translatey(-60px);
    backdrop-filter: blur(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes arriveFromLeft {
  0% {
    transform: translatex(-60px);
  }
  100% {
    transform: translatex(0px);
  }
}
.keen-slider__slide.currentSlide {
  opacity: 1;
  box-shadow: 4px 27px 50px 5px rgb(var(--below-shadow)/100%);
  top: -13px;
}

.keen-slider__slide {
  opacity: 0.61;
  top: 0;
  transition: opacity 0.14s, box-shadow 2s, top 1s;
}

@keyframes disappear {
  0% {transform: translateY(4px);opacity: 0;z-index:4;}
  10% {transform: translateY(-4px);opacity: 1;z-index:4;}
  90% {transform: translateY(-4px);opacity: 1;z-index:4;}
  100% {transform: translateY(4px);opacity: 0;z-index:4;}
}
div:hover > .controls{
  opacity: 0;
}

.avatar img{
  transform: scale(1.2) rotate(8deg);
  transition: all 1.4s cubic-bezier(0, 0, 0.1, 1.07) .31s;
}

.aos-animate .avatar img{
  transform: scale(1);
}

.inactive{
  filter:blur(3px)
}
.keen-slider__slide{
  transition: filter .4s, box-shadow 1.4s;
}

.shadow-box{
      transition: all 0.5s, box-shadow 0.2s 1s !important;
      box-shadow: inset transparent 0 0 0 0, inset transparent 0 0 0 0, rgb(var(--below-shadow) / 80%) 3px 3px 4px 2px,
  rgb(var(--above-shadow) / 91%) -3px -3px 4px 2px;

}
.shadow-box:hover{
      box-shadow: inset rgb(var(--above-shadow) / 83%) -3px -3px 4px 2px,
  inset rgb(var(--below-shadow) / 80%) 3px 4px 4px 2px,
  transparent 0 0 0 0, transparent 0 0 0 0;
}

/*
Menu styles
*/
.hamburger-round{
  border: 1px solid rgb(var(--foreground) / 100%);
  width: 45px;
  height: 45px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s;
}
.hamburger-round:hover{
  border: 1px solid rgb(var(--background) / 100%);
  background-color: rgb(var(--foreground) / 100%);
}
.hamburger-round:hover > .hamburger::after,.hamburger-round:hover > .hamburger::before{
  background-color: rgb(var(--background) / 100%);

}
.hamburger,.hamburger::after,.hamburger::before{
  height: 2px;
  width: 25px;
  content: '';
  display: block;
  transition: all cubic-bezier(1, -0.07, 0.32, 0.88) .47s, background-color .2s 0s;
}

.hamburger::after,.hamburger::before{
  position: relative;
  background-color: rgb(var(--foreground) / 100%);
}

.hamburger::before{
  top:-5px;
}

.hamburger::after{
  top:4px;
}

.hamburger-round[data-state="1"] .hamburger::before{
  top: 0px;
  transform: rotate(44deg);
}

.hamburger-round[data-state="1"] .hamburger::after{
  top: -2px;
  transform: rotate( -44deg);
}

.menu-wrapper{
  width:100vw;
  background-color: rgb(var(--background) / 30%);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  transition: height cubic-bezier(1, -0.07, 0.32, 0.88) .4s, background .3s;
  z-index: 9;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu-wrapper[data-state="1"]{
  height:100vh;
  width:100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: all cubic-bezier(1, -0.07, 0.32, 0.88) .8s;
  z-index: 9;
}

.menu-wrapper .menu-links{
  /* opacity: 0; */
  transform: translateY(-160px);
  transition: opacity cubic-bezier(0.32, 0.33, 0.07, 0.97) .9s, transform cubic-bezier(0.32, 0.33, 0.07, 0.97) .9s, color .01s 0s;
}

.menu-wrapper[data-state="1"] .menu-links:nth-child(1){
  transition-delay: .3s;
  transition-property:opacity, transform;
}
.menu-wrapper[data-state="1"] .menu-links:nth-child(2){
  transition-delay: .35s;
  transition-property:opacity, transform;
}
.menu-wrapper[data-state="1"] .menu-links:nth-child(3){
  transition-delay: .4s;
  transition-property:opacity, transform;
}
.menu-wrapper[data-state="1"] .menu-links:nth-child(4){
  transition-delay: .46s;
  transition-property:opacity, transform;
}
.menu-wrapper[data-state="1"] .menu-links:nth-child(5){
  transition-delay: .5s;
  transition-property:opacity, transform;
}
.menu-wrapper[data-state="1"] .menu-links:nth-child(6){
  transition-delay: .55s;
  transition-property:opacity, transform;
}
.menu-wrapper[data-state="1"] .menu-links{
  opacity: 1;
  transform: translateY(0px);
}

.menu-wrapper[data-state="1"] .menu-links button{
  backdrop-filter: none;
}
a{
  cursor: pointer;
}
.code-snip-kn{
  border-radius: 15px;
}
.MuiTypography-root code {
  font-size: calc(100% - 4px);
  background: #00000013;
  padding: 3px 7px;
  border-radius: 8px;
  opacity: .9;
}
.blog-content figure{
  margin-block:50px;
}
.d-none{
  display: none !important;
}
.loading-screen{
  z-index:10;
  opacity: 0;
}
.aboutme-avatar{
  border-radius: 100%;
}
.bottom-loading-thing{
  display: none;
  padding: 20px 20px;
  animation: loooodParent 3s cubic-bezier(1, 0, 0.35, 1.08) 0.41s 1
  alternate;
}
.loading-bar-thing{
  height: 4px;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 10px;
}
.inside-loading-bar-thing{
  height: 4px;
  width: 0%;
  background-color: #5c5c5c;
  animation: looood 3s cubic-bezier(1, 0, 0.35, 1.08) 0.41s 1
  alternate;
}
@keyframes looood {
  0%{
    width: 0%;
  }
  50%{
    width: 75%;
  }
  100%{
    width: 100%;
  }
}
@keyframes loooodParent {
  0%{
    display: block;
  }
  99%{
    display: none;
  }
  100%{
    display: none;
  }
}