html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-aos=anim1] {
  transform: translateY(40px) rotate(30deg);
  opacity: 0;
  transform-origin: top left;
  transition-property: transform, opacity;
}
[data-aos=anim1].aos-animate {
  transform: translateY(0px) rotate(0deg);
  opacity: 1;
}